input[type="text"], textarea
	width: 100%
	max-width: 100%
	height: 3em
	border: 2px solid $border
	padding: 1em
	margin: .5em 0 2em 0
	outline: 0

	&:active, &:focus
		border-color: $highlight

// Screen reader text

.srt
	border: 0
	clip: rect(0 0 0 0)
	height: 1px
	margin: -1px
	overflow: hidden
	padding: 0
	position: absolute
	width: 1px

